@tailwind base;
/* 
  Resets:
  - Box-sizing: `border-box` for all elements.
  - Removes default margin and padding.
  - Normalizes styles for form elements, links, headings, and images.
  - Sets global styles like font family and line height.
*/

@tailwind components;
/* 
  Includes:
  - Predefined UI components (buttons, forms, etc.).
  - Custom component styles (using `@layer components`).
*/

@tailwind utilities;
/* 
  Includes:
  - Utility classes for layout, spacing, colors, typography, borders, etc.
  - Provides utility-first classes for styling.
*/

/* Background color for the entire app */
@layer base {
  body {
    background-color: #e2fcef;
  }
}
